body {
  margin:0;
  width:100%;
}

#navigation{
  width:100%;
  height: 150px;
  background-color: #696969;
  color: #DEB887;
  font-weight: bold;
  font-family: 'Urbanist', sans-serif;
  font-size: 50px
}

#navigation_buttons {
  display: flex;
  height:100%;
  list-style-type: none;
  margin:0;
  align-items: center;
  justify-content: center;
  padding:0;
}

#navigation_buttons li {
  padding: 40px;
}

#content {
  display:flex;
  flex-direction: row;
  margin-bottom: 60px;
}
#left-content {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: 220% 100%;
  background-position: center;
  width: 550px;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

#header_text {
  width:600px;
  margin-bottom: 5px;
  position: absolute;
  left: 20px;
}

header h1 {
  font-family: 'Poltawski Nowy', serif;
  color: #222;
}

#header_hi{
  font-size: 40px;
  margin-bottom: 0;
  margin-left:100px;
}

#header_name {
  font-size: 80px;
  margin-top: 0;
  margin-left: 180px;
  word-wrap: break-word;
}

#blockquote_holder {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 550px;
}

blockquote {
  background-color: #696969;
  color: #DEB887;
  font-family: 'Poltawski Nowy', serif;
  
  font-size: 80px;
  padding:30px;
  margin: 0;
  margin-top: 30px;
}
blockquote::before {
  content:'“';
  font-size: 100px;
  margin: 0;
  padding:0;
}

#right-content {
  flex-grow: 2;
}

#main-content {
  display: flex;
  flex-direction: column;
}
#right-content li{
  list-style-type: square;
}
.section {
  font-family: 'Urbanist', sans-serif;
  color: #222;
  font-size: 30px;
  padding-left: 55px;
}
.section h2 {
  text-transform: uppercase;
  padding: 30px 0;
  color:#A0522D;
}
.section h3 {
  font-size: 30px;
  padding: 10px 0px;
  margin:0;
}
.section.first {
  margin-bottom: 150px
}

.section.third p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  padding-top: 20px;
  margin:0;
}
.section.forth p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  padding-top: 5px;
  margin:0;
  margin-bottom: 10px;
}
.section.third h3 {
  padding-bottom: 0;
}
.section.forth h3{
  padding-bottom: 0;
}